body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    margin-bottom:30px;
    background-color:blue;
    color:white;
    height:40px;
    width:130px;
    border:1px solid blue;
    border-radius:20px;
    font-size:15px;
}
.colorbox{
    height:200px;
    width:600px;
    border:1px solid black;
    border-radius:15px;
    font-size:25px;
}