ul{
    background-color: black;
    display:flex;
    justify-content:space-evenly;

}
a{
    text-decoration:none;
    color:white;
}
li{
    list-style-type:none;
    display: inline;
}
#outer{
    height:400px;
    width:400px;
    background-color: aqua;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
/*The above three lines are used to place a inner div exactly center inside outer div*/

}
#inner{
    height:200px;
    width:200px;
    background-color: rgb(16, 16, 197);
    color:white;
    text-align:center;
    /* align-self:center; */
    /*can also be used insted of align-items in container*/
}
